<main>
<div class="container-reg">
	<div class="back__reg__btn">
		<a href="/"><i class="fa-solid fa-house fa-2x"></i></a>
	</div>
	<div class="header-reg">
		<h2>Create Account</h2>
	</div>
	<form id="form" class="form">
		<div class="form-control">
			<label for="email">Email</label>
			<input type="email" placeholder="email" id="email" />
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
		<div class="form-control">
			<label for="password">Password</label>
			<input type="password" placeholder="Password" id="password"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
		<div class="form-control">
			<label for="password">Repeat password</label>
			<input type="password" placeholder="Repeat password" id="password2"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
		    <div class="account__created">
                <pre>Have an accout?  </pre>
                <a href="/login">Login</a>
            </div>
		<div class="form__submit__btn" id="form__submit__btn">
			<button>Submit</button>
		</div>
	
	</form>
</div>

</main>

