<main>
  <div class="main__container">
    <h3 class="licens__title">Licensing Info</h3>
    <div class="licens__info__container licens__remote">
      <ul class="navbar__licens">
        <li class="licens__item">
          <p class="licens__info__name">Lease</p>
          <p class="licens__info__cash">$49.99</p>
          <p class="licens__info__type">Standard Lease</p>
          <ul class="licens__info__description">
            <li>2500 Distribution copies</li>
            <li>100.000 Audio Streams</li>
            <li>100.000 Video Stream</li>
            <li>Untagged WAV file</li>
            <li>Must put (Prod. Raji Records)<br>in title/description</li>
            <button class="licens__read"
                    data-fancybox
                    data-type="iframe"
                    href="/lease"
                    data-width="1200"
                    data-height="700">
              READ LICENSE
            </button>
          </ul>
          <p class="licens__info__bulk__title">Bulk deals:</p>
          <p class="licens__info__bulk__description">BUY 1, GET 1 FREE</p>
        </li>


        <li class="licens__item licens__item__popular">
          <p class="licens__info__popular"><i class="fa-solid fa-star"></i>POPULAR</p>
          <p class="licens__info__name">Unlimited</p>
          <p class="licens__info__cash">$199.99</p>
          <p class="licens__info__type">Unlimited Lease</p>
          <ul class="licens__info__description">
            <li>Unlimited Distribution copies</li>
            <li>Unlimited Audio Streams</li>
            <li>Unlimited Video Stream</li>
            <li>Untagged WAV file</li>
            <li>Must put (Prod. Raji Records)<br>in title/description</li>
            <button class="licens__read"
                    data-fancybox
                    data-type="iframe"
                    href="/unlimited"
                    data-width="1200"
                    data-height="700">
              READ LICENSE
            </button>
          </ul>
          <p class="licens__info__bulk__title">Bulk deals:</p>
          <p class="licens__info__bulk__description">BUY 1, GET 1 FREE</p>
        </li>


        <li class="licens__item">
          <p class="licens__info__name">Trackout</p>
          <p class="licens__info__cash">$499.99</p>
          <p class="licens__info__type">Lease + Track Stems</p>
          <ul class="licens__info__description">
            <li>3000 Distribution copies</li>
            <li>100.000 Audio Streams</li>
            <li>100.000 Video Stream</li>
            <li>Untagged WAV file</li>
            <li>Track Stems</li>
            <li>Must put (Prod. Raji Records)<br>in title/description</li>
            <button class="licens__read"
                    data-fancybox
                    data-type="iframe"
                    href="/trackout"
                    data-width="1200"
                    data-height="700">
              READ LICENSE
            </button>
          </ul>
          <p class="licens__info__bulk__title">Bulk deals:</p>
          <p class="licens__info__bulk__description">BUY 1, GET 1 FREE</p>
        </li>


        <li class="licens__item">
          <p class="licens__info__name">Premium</p>
          <p class="licens__info__cash">$999.99</p>
          <p class="licens__info__type">Unlimited Lease + Track</p>
          <ul class="licens__info__description">
            <li>Unlimited Distribution copies</li>
            <li>Unlimited Audio Streams</li>
            <li>Unlimited Video Stream</li>
            <li>Untagged WAV file</li>
            <li>Track Stems</li>
            <li>Must put (Prod. Raji Records)<br>in title/description</li>
            <button class="licens__read"
                    data-fancybox
                    data-type="iframe"
                    href="/premium"
                    data-width="1200"
                    data-height="700">
              READ LICENSE
            </button>
          </ul>
          <p class="licens__info__bulk__title">Bulk deals:</p>
          <p class="licens__info__bulk__description">BUY 1, GET 1 FREE</p>
        </li>


        <li class="licens__item">
          <p class="licens__info__name">Exclusive License</p>
          <p class="licens__info__cash licens__info__offer">MAKE AN OFFER</p>
          <p class="licens__info__type">Exlusive License</p>
          <ul class="licens__info__description">
            <li>Exclusive License to use this beat</li>
            <li>Unlimited Distribution copies</li>
            <li>Unlimited Audio Streams</li>
            <li>Unlimited Video Streame</li>
            <li>Untagged WAV file</li>
            <li>Track Stems</li>
            <li>Must put (Prod. Raji Records)<br>in title/description</li>
            <button class="licens__read"
                    data-fancybox
                    data-type="iframe"
                    href="/exclusive"
                    data-width="1200"
                    data-height="700">
              READ LICENSE
            </button>
          </ul>
        </li>

      </ul>
    </div>
    <div class="licens__info__container__slider slide__remote">

      <div class="slider">
        <div>
          <div class="slider__content">
            <p class="licens__info__name">Lease</p>
            <p class="licens__info__cash">$49.99</p>
            <p class="licens__info__type">Standard Lease</p>
            <ul class="licens__info__description">
              <li>2500 Distribution copies</li>
              <li>100.000 Audio Streams</li>
              <li>100.000 Video Stream</li>
              <li>Untagged WAV file</li>
              <li>Must put (Prod. Raji Records)<br>in title/description</li>
              <button class="licens__read"
                      data-fancybox
                      data-type="iframe"
                      href="/lease"
                      data-width="600"
                      data-height="800">
                READ LICENSE
              </button>
            </ul>
            <p class="licens__info__bulk__title">Bulk deals:</p>
            <p class="licens__info__bulk__description">BUY 1, GET 1 FREE</p>
          </div>
        </div>
        <div>
          <div class="slider__content">
            <p class="licens__info__popular"><i class="fa-solid fa-star"></i>POPULAR</p>
            <p class="licens__info__name">Unlimited</p>
            <p class="licens__info__cash">$199.99</p>
            <p class="licens__info__type">Unlimited Lease</p>
            <ul class="licens__info__description">
              <li>Unlimited Distribution copies</li>
              <li>Unlimited Audio Streams</li>
              <li>Unlimited Video Stream</li>
              <li>Untagged WAV file</li>
              <li>Must put (Prod. Raji Records)<br>in title/description</li>
              <button class="licens__read"
                      data-fancybox
                      data-type="iframe"
                      href="/unlimited"
                      data-width="600"
                      data-height="800">
                READ LICENSE
              </button>
            </ul>
            <p class="licens__info__bulk__title">Bulk deals:</p>
            <p class="licens__info__bulk__description">BUY 1, GET 1 FREE</p>
          </div>
        </div>
        <div>
          <div class="slider__content">
            <p class="licens__info__name">Trackout</p>
            <p class="licens__info__cash">$499.99</p>
            <p class="licens__info__type">Lease + Track Stems</p>
            <ul class="licens__info__description">
              <li>3000 Distribution copies</li>
              <li>100.000 Audio Streams</li>
              <li>100.000 Video Stream</li>
              <li>Untagged WAV file</li>
              <li>Track Stems</li>
              <li>Must put (Prod. Raji Records)<br>in title/description</li>
              <button class="licens__read"
                      data-fancybox
                      data-type="iframe"
                      href="/trackout"
                      data-width="600"
                      data-height="800">
                READ LICENSE
              </button>
            </ul>
            <p class="licens__info__bulk__title">Bulk deals:</p>
            <p class="licens__info__bulk__description">BUY 1, GET 1 FREE</p>
          </div>
        </div>
        <div>
          <div class="slider__content">
            <p class="licens__info__name">Premium</p>
            <p class="licens__info__cash">$999.99</p>
            <p class="licens__info__type">Unlimited Lease + Track</p>
            <ul class="licens__info__description">
              <li>Unlimited Distribution copies</li>
              <li>Unlimited Audio Streams</li>
              <li>Unlimited Video Stream</li>
              <li>Untagged WAV file</li>
              <li>Track Stems</li>
              <li>Must put (Prod. Raji Records)<br>in title/description</li>
              <button class="licens__read"
                      data-fancybox
                      data-type="iframe"
                      href="/premium"
                      data-width="600"
                      data-height="800">
                READ LICENSE
              </button>
            </ul>
            <p class="licens__info__bulk__title">Bulk deals:</p>
            <p class="licens__info__bulk__description">BUY 1, GET 1 FREE</p>

          </div>
        </div>
        <div>
          <div class="slider__content">
            <p class="licens__info__name">Exclusive License</p>
            <p class="licens__info__cash licens__info__offer">MAKE AN OFFER</p>
            <p class="licens__info__type">Exlusive License</p>
            <ul class="licens__info__description">
              <li>Exclusive License to use this beat</li>
              <li>Unlimited Distribution copies</li>
              <li>Unlimited Audio Streams</li>
              <li>Unlimited Video Streame</li>
              <li>Untagged WAV file</li>
              <li>Track Stems</li>
              <li>Must put (Prod. Raji Records)<br>in title/description</li>
              <button class="licens__read"
                      data-fancybox
                      data-type="iframe"
                      href="/exclusive"
                      data-width="600"
                      data-height="800">
                READ LICENSE
              </button>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="mailing__container">
      <h3 class="mailing__title">Subscribe to Mailing List</h3>
      <div class="input__container input__container__name">
        <input type="text" name="user__name" id="name"  required class="input__form input__name">
        <label class="floating__label name__label">FULL NAME</label>
      </div>
      <div class="input__container input__container__email">
        <input type="text" name="user__email" id="email"  required class="input__form input__email">
        <label class="floating__label email__label">E-MAIL ADDRES</label>
      </div>

      <div class="mailing__checkbox">
        <input type="checkbox" name="subscribe" class="mailing__checkbox__form" id="checkbox__mailing">
        <label for="checkbox__mailing" class="mailing__text">Check this box to confirm that you would like to receive emails from Raji Records</label>
      </div>
      <input type="submit" class="mailing__btn__submit" value="SUBSCRIBE NOW">
    </div>

  </div>
</main>