<!doctype html>
<html lang="en">
{{>head}}
<body class="registration">
{{>loginMain}}

<body>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="./js/SearchBtnHandle.js"></script>
<script src="./js/main.js"></script>
<script src="./js/LoadInfoServer.js"></script>
<script src="./js/LoadInfoClient.js"></script>
<script src="./js/LoginBtnHandle.js"></script>
<script src="./js/Login.js"></script>

</body>
</html>